extends index

block groupfields
  h2.header Groepstanden
  form(name="groupform")
    div.col6
      h2 Groep A
      h2 Groep B
      h2 Groep C
      h2 Groep D
      h2 Groep E
      h2 Groep F
      p 
        label(for="A1") Italië
          input(type="text" id="A1" size="1")
      p 
        label(for="B1") België
          input(type="text" id="B1" size="1")
      p 
        label(for="C1") Oekraïne
          input(type="text" id="C1" size="1")
      p 
        label(for="D1") Engeland
          input(type="text" id="D1" size="1")
      p Spanje
      p F1
      p Zwitserland
      p Rusland
      p Nederland
      p Kroatië
      p Zweden
      p Portugal
      p Turkije
      p Denemarken
      p Oostenrijk
      p D3
      p Polen
      p Frankrijk
      p Wales
      p Finland
      p C4
      p Tsjechië
      p E4
      p Duitsland
