/**
 * ==========================================================================
 * #STYLES
 * ==========================================================================
 */

/**
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * [2]: WordPress System font-stack
 */

/**
 * RESET
 * ==========================================================================
 */

html {
  box-sizing : border-box;
}

*,
*::after,
*::before {
  box-sizing : inherit;
  margin     : 0;
  padding    : 0;
  /* [1] */
}

ul {
  padding-left : 20px;
  list-style   : circle outside;
}

/**
 * FONTS
 * ==========================================================================
 */

body {
  background-color : #badadf;
  font-family      : -apple-system,
                     BlinkMacSystemFont,
                     "Segoe UI",
                     Roboto,
                     Oxygen-Sans,
                     Ubuntu,
                     Cantarell,
                     "Helvetica Neue",
                     sans-serif;
  /* [2] */
}

/**
 * standard
 * ==========================================================================
 */

h2 {}

/**
 * Header
 * ==========================================================================
 */

.header {
  display          : flex;
  width            : 100%;
  margin-top       : 10px;
  margin-bottom    : 0px;
  color            : #FFFFFF;
  background-color : #126e37;
  align-items      : center;
  justify-content  : center;
  /* height: 50px; */
}

.subheader {
  margin-top       : 0px;
  margin-bottom    : 0px;
  padding          : 5px;
  color            : #FFFFFF;
  background-color : #12606e;
}

.pagetitle {
  display          : flex;
  width            : 100%;
  height           : 80px;
  margin-bottom    : 15px;
  color            : #FFFFFF;
  background-color : #126e37;
  align-items      : center;
  justify-content  : center;
}

/**
 * Homepage Container
 * ==========================================================================
 */

.container {
  display               : grid;
  width                 : 960px;
  margin                : 10px auto;
  grid-gap              : 20px;
  grid-template-columns : repeat(3, 1fr);
}

.maintext {
  width  : 960px;
  margin : 10px auto;
}

.col6 {
  display               : grid;
  width                 : 960px;
  margin                : 10px auto;
  grid-gap              : 10px;
  grid-template-columns : repeat(6, 1fr);
}

.group {
  border          : 1px solid;
  border-collapse : collapse;
  vertical-align  : middle;
}

.group label {
  width        : 90%;
  float        : left;
  margin-right : 3px;
  padding-left : 4px;
  text-align   : left;
  font-size    : 120%;
}

.group,
tr {
  border : 1px solid;
}

.group input {
  width : 25%;
  float : right;
  /* padding: 2px 2px; */
  /* margin-left: 50px; */
}

.nr {
  width      : 3%;
  text-align : right;
  font-size  : 85%;
}

.weds label {
  width        : 100%;
  float        : left;
  margin-right : 3px;
  text-align   : center;
}

.weds tr {
  border-bottom : 1px solid black;
}

.weds input {
  width : 72%;
  float : right;
  /* margin-left: 50px; */
}

.finals label {
  width        : 100%;
  float        : left;
  margin-right : 3px;
  text-align   : center;
}

.finals input {
  width : 72%;
  float : right;
  /* margin-left: 50px; */
}

.finals tr {
  /* height: 12px; */
  border-bottom  : 1px solid black;
  vertical-align : center;
}

.col4 {
  display               : grid;
  width                 : 960px;
  margin                : 10px auto;
  grid-gap              : 10px;
  grid-template-columns : repeat(4, 1fr);
}

table {
  border          : 1px solid;
  border-collapse : seperate;
  border-spacing  : 2px;
}

table,
td,
th {
  border-bottom : 1px solid;
}

/**
 * Profile Card
 * ==========================================================================
 */

.center {
  text-align : center;
}

.left {
  text-align : left;
}

.right {
  text-align : right;
}

.small {
  font-size : 70%;
}

/**
 * Profile Page
 * ==========================================================================
 */

.profile {
  display : flex;
  width   : 100%;
  height  : 100vh;
}

.profile-image {
  height     : 100%;
  flex-basis : 50%;
  flex-grow  : 1;
}

.profile-details {
  display         : flex;
  padding         : 50px;
  flex-basis      : 30%;
  flex-direction  : column;
  flex-grow       : 1;
  justify-content : center;
}

.profile-details > * {
  margin-bottom : 20px;
}

input {
  font-size : 100%;
}

/**
 * Buttons
 * ==========================================================================
 */

.button {
  width            : 100%;
  height           : 50px;
  color            : white;
  border-radius    : 15px;
  background-color : #126e37;
  text-align       : center;
  text-decoration  : none;
  font-size        : 20px;
  line-height      : 50px;
}

.button-twitter {
  color            : #FFFFFF;
  border-radius    : 5px;
  background-color : #659AF1;
}
